@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --grey1: #898d8f;
  --black: #000;
  --blue: #59c3ff;
}

.container {
  @apply w-[95%] lg:w-[90%] mx-auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  background: var(--black);
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transform: scale(1.05);
}

h1,
h2,
h3,
h4,
strong,
h5,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;
  font-weight: 400;
}

p,
li {
  font-size: 1rem;
  font-weight: 300;
}

small {
  font-size: 12px;
  font-weight: 300;
}

/* ==Navbar=== */

.isActive {
  font-weight: 400;
  padding: 0.6em 0;
  transition: all 0.3s ease-in-out;

  a {
    color: var(--blue);
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}

.notActive {
  font-weight: 400;
  padding: 0.6em 0;
  transition: all 0.3s ease-in-out;
  a {
    color: var(--white);
  }
}

.main-btn {
  color: var(--black);
  background-color: var(--white);
  border: solid 1.1px var(--black);
  padding: 0.6em 1.3em;
}

.tokenomics {
  background: rgba(0, 0, 0, 0.91) url('../public/assets/tokeBg.png') top center
    no-repeat;
  padding: 5em 0;

  ul li {
    margin: 1em 0;
  }
}

.fxBg {
  margin: 1em 0;
  height: 350px;
  background: url('../public/assets/heroImage.png') center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.war {
  font-size: 2rem;
  animation: zoomInOut 3s ease-in-out infinite forwards;
}

@keyframes zoomInOut {
  0% {
    opacity: 0.05;
    font-style: italic;
  }
  70% {
    opacity: 1;
    font-style: normal;
  }
  0% {
    opacity: 0.05;
    font-style: italic;
  }
}

.join {
  /* height: 550px; */
  background: url('../public/assets/drippyBg.png') top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.claims li {
  font-size: 14px;
}

/* === Media Query === */

@media screen and (max-width: 900px) {
  h1,
  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  .fxBg {
    margin: 1em 0;
    height: 200px;
    background: green url('../public/assets/heroImage.png') center center
      no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 600px) {
  .fxBg {
    margin: 1em 0;
    height: 150px;
    background: url('../public/assets/heroImage.png') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
